<style type="text/css">
    .logo {
        display: inline-block;
        text-indent: -9999px;
        width: 60px;
        height: 53px;
        background: url(images/swords.svg);
        background-size: 60px 53px;
        vertical-align: bottom;
    }

    .title {
        font-size: 4em;
        line-height: .8;
        margin-bottom: 32px;
        font-weight: 500;
        font-family: 'Magic';
    }
</style>

<div class="text-center" style="margin-bottom: 20px">
    <span class="logo"></span><span class="text-center title">Arena Brawl <span style="color: rgb(150, 0, 0)">Beta</span></span>
</div>

@code {

}
