@using ArenaBrawl.InMemoryData
@inject PlayerCountRepository OnlinePlayers

<div>Players Online: @_count</div>

@code {

    protected override void OnInitialized()
    {
        OnlinePlayers.CountUpdated += OnlinePlayersOnCountUpdated();
        _count = OnlinePlayers.CurrentPlayers();
    }

    private Action<int> OnlinePlayersOnCountUpdated() => current =>
    {
        _count = current;
        InvokeAsync(StateHasChanged);
    };

    private int _count;
}
