@inherits LayoutComponentBase
@using ArenaBrawl.Components

<div class="main">
    <div class="top-row px-4">
        @* <LoginDisplay /> *@
        <OnlinePlayerCount />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>