@page "/"
@using Microsoft.Extensions.Configuration
@namespace ArenaBrawl.Pages
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArenaBrawl</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        window.checkoutDonation = function(sessionId) {
            var stripe = Stripe('@GetPublicPaymentKey()');
            stripe.redirectToCheckout({
                sessionId: sessionId
            });
        }

        window.playMatchfound = function playMatchfound() {
            var audio = document.getElementById("MatchfoundAudio");
            audio.play();
        }

    </script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

<script src="_framework/blazor.server.js"></script>
<audio id="MatchfoundAudio" src="/audio/swords.mp3"></audio>
</body>
</html>
@functions
{
    string GetPublicPaymentKey() => Configuration.GetValue<string>("Payments:PublicKey");
}
