@page "/"
@using ArenaBrawl.Components
@using ArenaBrawl.Components.MatchMaking

<h1 class="text-center title">Arena Brawl</h1>

<div class="text-center">
    <Matchmaker></Matchmaker>
    <OnlinePlayerCount></OnlinePlayerCount>
</div>


@code {


}