@page "/"
@using ArenaBrawl.Services
@inject MatchmakingService MatchmakingService

<h1 class="text-center title">Arena Brawl</h1>

<div class="text-center">
    @if (_isFindingPlayer)
    {
        <div class="">Loading...</div>
    }
    else
    {
        <input class="input-txt" type="text" placeholder="PlayerName#1234" value="@_id"/>
        <button class="btn btn-primary" @onclick="QueueForMatch">Find a game</button>
    }
                </div>


                @code {
                    private string _id;
                    public bool _isFindingPlayer;

                    async void QueueForMatch()
                    {
                        await MatchmakingService.AddToQueue(_id);
                        _isFindingPlayer = true;
                    }

                }