@page "/"
@using ArenaBrawl.Components
@using ArenaBrawl.Components.MatchMaking
<style type="text/css">footer {
     bottom: 0;
     margin-top: 50px;
     }
 .logo {
     display: block;
     text-indent: -9999px;
     width: 100px;
     height: 82px;
     background: url(images/swords.svg);
     background-size: 100px 82px;
     margin-left: auto;
     margin-right: auto;
 }
 </style>

<div class="logo"></div>
<h1 class="text-center title">Arena Brawl</h1>

<div class="text-center">
    <Matchmaker></Matchmaker>
</div>

<footer class="index-page-footer">
    <div class="text-center">
        <div>
            <OnlinePlayerCount></OnlinePlayerCount>
        </div>
    </div>
</footer>

@code {
}