@page "/"
@using ArenaBrawl.Components
@using ArenaBrawl.Components.MatchMaking
<style type="text/css">
    footer {
        bottom: 0;
        margin-top: 50px;
    }

    .logo {
        display: inline-block;
        text-indent: -9999px;
        width: 60px;
        height: 53px;
        background: url(images/swords.svg);
        background-size: 60px 53px;
        vertical-align: bottom;
    }

    .title {
        font-size: 4em;
        line-height: .8;
        margin-bottom: 32px;
        font-weight: 500;
        font-family: 'Magic';
    }
</style>
<div class="text-center" style="margin-bottom: 20px"> 
    <span class="logo"></span><span class="text-center title">Arena Brawl <span style="color: rgb(150, 0, 0)">Beta</span></span>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Arena Brawl will connect you to another player who wants to play Magic the Gathering: Arena, Brawl mode.</p>
            <p>Once you enter your player ID and click "Find a game", you will be matched with another active online player.</p>
            <p>Once your opponent accepts the match you will receive their player Id. You can then challenge them to a private game. Then when your finished you can search for another opponent.</p>
            <p>
                <span style="text-decoration: underline">Top tips</span>
                <ul>
                    <li>Have your Brawl deck ready to go before you search for an opponent</li>
                    <li>Make sure you type in your Player Id correctly – you can't challenge your opponent correctly without it</li>
                </ul>
            </p>
        </div>
        <div class="col-lg-5 content-box">
            <div>
                <Matchmaker></Matchmaker>
            </div>
        </div>
        <div class="col">


            <p>
                To challenge your opponent to a brawl:
                <ol>
                    <li>Click on the crossed swords icon in the top left corner of the Arena client</li>
                    <li>Select Challenge Match</li>
                    <li>Click the drop-down icon arrow</li>
                    <li>Select Deck Type: Brawl</li>
                    <li>Select Coin Flip</li>
                    <li>Enter your opponent's player Id in the box below </li>
                    <li>Select your Brawl deck</li>
                    <li>Click Play</li>
                    <li>Wait for your opponent. The game will start when both match players hit play</li>
                </ol>
            </p>
        </div>
    </div>
</div>

    

    @code {
    }
